.wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.add-card{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    justify-content: center;

}
.bubble-sort-header{
    display: flex;
    flex-direction: row;
    width: 100%;
    .card-list{
        width: 60%;
        align-items: center;
    }
}