.card {
    height: 200px;
    width: 10vw;
    background-color: #cfffb3;
    border-radius: 12%;
    justify-content: space-between;
    text-align: center;
    h1 {
        margin-top: 70px;
    }
}