.header {
    position: relative;

    display: flex;
    left: 0;
    bottom: 0;
    top: 0;
    width: 200px;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(5, 30, 52);
    background-image: url(https://www.gstatic.com/mobilesdk/190424_mobilesdk/nav_nachos@2x.png);
    // z-index: 1;
    .logo-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .logo-title {
            border-top: solid;
            border-bottom: solid;
            border-width: .5px;
            border-color: rgba(255, 255, 255, 0.8);
            padding: 40px 15px;
            overflow: hidden;
            &:hover{
                box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
            }
        }
        
    }

    .options {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .option {
            border-top: solid;
            border-bottom: solid;
            border-width: .5px;
            border-color: rgba(255, 255, 255, 0.8);
            padding: 40px 15px;
            overflow: hidden;
            &:hover {
                box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
            }
        }
        
    }
}