.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    background-image: linear-gradient(to right, #34495e, #34495e);
    .logo-container{
        height: 100%;
        width: 140px;
        padding: 25px;
    }

    .options {
        width: 50%;
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: flex-end;

        .option {
            padding: 50px 15px;
            overflow: hidden;
            &.hover {
                text-decoration: #1abc9c;
            }
        }
        
    }
}