.card-grid {
    padding: 20px;
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
    justify-content: space-between;

    .yellow-card {
      background: linear-gradient(145deg, #f6d365 0%, #fda085 100%);
    } 
    .purple-card {
      background: linear-gradient(145deg, #f093fb 0%, #f5576c 100%);
    } 
    .blue-card {
      background: linear-gradient(145deg, #5ee7df 0%, #b490ca 100%);
    } 
    .light-blue-card {
      background: linear-gradient(145deg, #c3cfe2 0%, #c3cfe2 100%);
    } 
  }
.cardAdded-enter{
  opacity: 0.01;
}
